.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
    background-color: #333; /* Change color as needed */
    color: #fff; /* Change color as needed */
    font-size: 1rem; /* Adjust font size as needed */
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  